*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin:0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background-color: #a1c3ff;
  font-family: 'Poppins', sans-serif;
  display:grid;
}

section {
  padding-bottom: 10px;
}

p{
  margin:0px;
  color: black;
  font-weight: bold;
  
}

ul {
  margin: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
}


h3{
  font-weight: bold;
}

ul li {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

}

footer{
  margin-top: 5vw;
  background: black;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top:40px;
  color: white;
}


nav a {
  padding-left:10px;
  display:flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
}

nav a:hover {
  color: lightblue;
  transition:0.3;
}


li {
  margin-right: 20px;
}

.mini-item{
  background-color: rgb(25, 182, 25);
  width: 75px;
  height: 75px;
  margin: 10px;
  flex-shrink: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border-radius: 5px;
}

.mini-item.btn {
  box-shadow: inset 0 0 0 0 #f9e506;
  transition: ease-out 0.3s;
  outline: none;
}

.mini-item.btn:hover {
  box-shadow: inset 75px 0 0 0 #f9e506;
}

.flex {
  display:flex;
}

li:nth-of-type(1){
  flex:1;
}

.container{
  display:flex;
  background-color: lightgray;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item{
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  background-color: #0a51cc;
  color: #fff;
  margin: 10px;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 5px;
}

.item.btn {
  transition: ease-out 0.3s;
  outline:none;
  border: #42FBF2;
  position: relative;
  z-index: 1;
}

.item.btn:hover {
  color: #fff;

}

.item.btn::before {
  transition: 0.5s all ease;
  position: absolute;
  top:0;
  left:50%;
  right: 50%;
  bottom:0;
  opacity: 0;
  content: '';
  background-color: #42FBF2;
  border-radius: 10px;
}

.item.btn:hover::before{
  transition: 0.5s all ease;
  left: 0;
  right:0;
  opacity:1;
  z-index: -1;

}

.footer-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size:1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: white;

}



.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 rem 0;
}

.socials li{
  margin: 0 10px;

}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4 ease;
}
.socials a:hover{
  color:aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #fff;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;

}

ul li:hover{
  color: lightblue;
}

.navbar{
  justify-content: space-between;
  display:flex;
  background-color: #3474e6;
}

.justify-between {
  justify-content: space-between;
}

.flex{
  display:flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.top-container {
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #0151cc;
}

.txt {
  display:block;
  width: 50%;
}


.flex-text{
  padding: 10px;
}


.hamburger{
  display:none;
  cursor:pointer;
  position: absolute;
  top: .4rem;
  right: 1rem;
  flex-direction: column;
}

.bar{
  display:block;
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {


  ul {
    padding:0;
    display:none;
    width: 100%;
  }
  .navbar{
    flex-direction: column; 
  }

  .navbar ul{
    flex-direction: column;
  }
   ul li{
     padding:0;
     margin:0;
     display:flex; 
     align-items: center;
     justify-content: center;
     width: 100%;
  }

  ul li:hover{
    background-color: rgb(97, 152, 170);
  }

   ul.active{
    display:flex;
  } 

  .hamburger{
    display:block;
  }

  .txt {
    width: 70%;
  }


  .top-container{
    flex-direction: column;
  }

  div.flex.column {
    align-items: center;
    justify-content: center;
  }

  .container{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} 